body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 650px;
}

a {
  color: #00B7FF;
}

.dropdown{
  display: inline-block;
}

.select-email{
  width: 2em;
}

.menu{
  display: block;
}

.right {
  float: right;
}

.unread-count{
  vertical-align: center;
}

.title {
  display: inline-block;
}

.email-id {
  display: none;
}

.read {
  background-color: white;
  font-weight: normal;
}

.unread {
  background-color: #f0f0f0;
  font-weight: bolder;
}

.checked {
  background-color: #fffae4;
}

.new-label {
  display: inline;
}

.label-field{
  margin-left: 3px;
  text-align: center;
}
