extends ./../layout

block content
  div.page-header
    h1.title mailbox 
      small Inbox
  div.inbox
    div.menu.navbar.navbar-defualt
      button.navbar-btn.select-all-emails.btn.btn-default(type='button')
        i.fa.fa-square-o
      button.mark-as-read.btn.btn-default(type='button' disabled='disabled') Mark As Read
      button.mark-as-unread.btn.btn-default(type='button' disabled='disabled') Mark As Unread
      div.dropdown
        button#dLabel.apply-label.btn.btn-default(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Apply Label 
          span(class='caret')
        ul.dropdown-menu(aria-labelledby='dLabel')
          each label in labels
            li
              a(href='#')= label.name
          li
            form.new-label(action='/labels/index' method='post')
              input.label-field(type='text' name='newlabel' placeholder='create new label...')
      div.dropdown
        button#dLabel.apply-label.btn.btn-default(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Remove Label 
          span(class='caret')
        ul.dropdown-menu(aria-labelledby='dLabel')
          li 
            a(href='#') Work
          li 
            a(href='#') Personal
          li 
            a(href='#') WebDev
      button.delete-selected-emails.btn.btn-default(type='button' disabled='disabled')
        i.fa.fa-trash-o
      div.right
        span.unread-count #{unreadCount}
        span  unread messages
  div.messages
    table.emails.table.table-default
      for email in emails
        tr(class=(email.read === true ? 'read' : 'unread'))
          td.email-id
            div.info(name='#{email._id}')
          td.select-email
            input.checkbox(type='checkbox' name='select')
          td.star-email
            if email.starred === true
              i.star.fa.fa-star
            else
              i.star.fa.fa-star-o
          td.snippet= email.subject
